{% extends "studenttemplate.html" %}

{% block head %}
	{{ super() }}

{% endblock %}


{% block body %}
	{{ super() }}

            <!-- Main content -->
            <section class="content">
                <h2>My Interests</h2>
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner text-center">
                                <h3>Food</h3>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner text-center">
                                <h3>Food</h3>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner text-center">
                                <h3>Food</h3>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner text-center">
                                <h3>Food</h3>
                            </div>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
            </section>
{%endblock%}