{% extends "hometemplate.html" %}

{% block head %}
  {{ super() }}

{% endblock %}


{% block body %}
  {{ super() }}

      <!-- Content Wrapper. Contains page content -->
  <center>
  <div class="content-wrapper" style="width:80%">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>Create an Account</h2>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Are you an individual student looking to connect with organizations at SJSU, or are you an organization looking to create a webpage?</h3>
                    </div>
                    <div class="box-body">


                        <div class="row">

                            <div class="col-lg-offset-2 col-lg-4 grow singleWell">
                                <div class="well well-square text-center">
                                    <h4>Student</h4>
                                    <img class="inheritPic" src="http://www.clker.com/cliparts/c/7/W/l/I/4/orangeman-joy-simple.svg" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="well well-square text-center grow">
                                    <h4>Organization</h4>
                                    <img class="inheritPic" src="http://images.clipartpanda.com/group-clipart-group-md.png" />
                                </div>

                            </div>


                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->




</div>
<!-- /.content-wrapper -->

  </center>

 {%endblock%}