{% extends "hometemplate.html" %}

{% block head %}
	{{ super() }}

{% endblock %}


{% block body %}
	{{ super() }}

      <!-- Content Wrapper. Contains page content -->
    <center>  <div class="content-wrapper" style="width:80%">
        <!-- Content Header (Page header) -->
        <section class="content-header">
         <h2>Create an Organization Account</h2>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                <form method="post" action="{{ url_for('orghome')}}" style="width:300px">
                      <label for="yourname">Organization:</label>
                      <input type="text" name="org" style="border:1px solid #1a64a3; margin-bottom:10px" /><br />
                      <label for="yourname">Advisor First Name:</label>
                      <input type="text" name="aFname" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <label for="yourname">Advisor Last Name:</label>
                      <input type="text" name="aLname" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <label for="yourname">Advisor ID:</label>
                      <input type="text" name="aid" style="border:1px solid #1a64a3; margin-bottom:10px" /><br />
                      <label for="yourname">Advisor Email:</label>
                      <input type="text" name="aemail" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <label for="yourname">Department:</label>
                      <input type="text" name="dept" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <label for="yourname">Organization E-Mail:</label>
                      <input type="text" name="orgemail" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <label for="yourname">Password:</label>
                      <input type="text" name="password" style="border:1px solid #1a64a3; margin-bottom:10px"/><br />
                      <input type="submit" />
                    </form>
				</div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</center>

 {%endblock%}