{% extends "hometemplate.html" %}

{% block head %}
	{{ super() }}

{% endblock %}

{% block body %}
	{{ super() }}

      <!-- Content Wrapper. Contains page content -->
    <center>  <div class="content-wrapper" style="width:80%">
        <!-- Content Header (Page header) -->
        <section class="content-header">
         <h2>Create a Student Account</h2>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
              <div class="box box-primary">
                <div class="box-body">
                            <!--Student form -->
                            <div id="content">
                                <form class="form-horizontal" method="post" action="{{ url_for('clubs')}}" style="width:80%">
                                  <label for="yourname" class="col-sm-2 control-label">First Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="fname"/><br /></div>
                                  <label for="yourname" class="col-sm-2 control-label">Middle Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="mname"/><br /></div>
                                  <label for="yourname" class="col-sm-2 control-label">Last Name:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="lname"/><br /></div>
                                  <label for="yourname" class="col-sm-2 control-label">SJSU Student ID:</label>
                                    <div class="col-sm-10">
                                  <input type="text" class="form-control" name="sid"/><br />
                                    </div>
                                  <label for="youremail" class="col-sm-2 control-label">Email:</label>
                                    <div class="col-sm-10">
                                  <input type="text" class="form-control" name="email"/><br />
                                    </div>
                                  <label for="yourname" class="col-sm-2 control-label">Password:</label>
                                    <div class="col-sm-10">
                                  <input type="text" class="form-control" name="password"/><br />
                                    </div>
                                  <input type="submit" class="btn btn-danger" />
                                </form>
				</div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
</center>

 {%endblock%}